:root{
    --header-color: lightblue;
    --card-color: lightgray;
}

html, body, :root, .primary-container{
    min-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.primary-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
}

.header-container{
    background-color: var(--header-color);
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-title{
    padding: 25px;
    font-weight: bolder;
    font-size: 32px;
    grid-column: 1 / 4;
    text-align: center;
}

.header-button-container{
    grid-column: 1 / 4;
    display: flex;

    justify-content: center;
    align-items: center;
}

.content-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 300px;
    margin: 50px;
    gap: 50px;
}

.book-card{
    background-color: var(--card-color);
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.book-card>.book-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.book-card>.autho-author{

}
.book-card>.book-page-count{
    
}
.book-card>.book-has-read{
    
}

.button-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.book-input-modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: burlywood;
    border: 1px black solid;
    top: 25%;
    margin: auto;
    left: 25%;
    right: 25%;
    max-width: fit-content;
    min-width: fit-content;
    animation: fade 2s linear;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.hidden{
    visibility: hidden;    
    animation: visibility fade 2s linear;
}

.modal-title-container{
    display: flex;
    font-weight: bold;
    font-size: large;
    border: 1px black solid;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
}

.modal-button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}